* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: var(--dark-color);
    background-color: #f8f9fa;
    color: #333;
    padding-top: 70px;
}

:root {
    --cor-laranja: #ED5C2C;
    --cor-preta: #000000;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --highlight-bg: #fff5f5;
    --first-place-bg: #fff1f1;
    --tab-active-bg: #f0f0f0;
    --dourado: #FCD34D;
    --cinza: #64748B;
}

.logo {
    max-width: 190px;
    height: auto;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1100;
    padding: 4px 16px;
    border-radius: 12px;
    background: transparent;
    transition: background 0.3s;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.logo.logo-bg {
    background-color: #f8f9fa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#searchInput {
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tab-menu {
    display: flex;
    background-color: var(cor --cinza);
    gap: 0.5rem;
}

.tab-container {
    background: #fff;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tab-menu {
    display: flex;
    gap: 0.5rem;
}

.tab-button {
    flex: 1;
    padding: 12px 24px;
    border: none;
    background: transparent;
    color: var(--cinza);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab-button.active {
    background-color: var(--tab-active-bg);
    font-weight: 600;
}

.tab-button:hover:not(.active) {
    background-color: #f8f9fa;
}

.card {
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}





.nav-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid #ddd;
    flex-wrap: nowrap;
}

.nav-button .nav-link {
    color: #888;
    font-size: 0.9rem;
    
    &:hover {
        color: var(--cor-laranja);
    }
}

.nav-link-active {
    color: var(--cor-laranja) !important;
}

.nav-link-active i {
    color: var(--cor-laranja) !important;
}

footer {
    margin-top: 60px;
    height: 60px;
    width: 100%;
}

@media (max-width: 768px) {
    .logo {
        max-width: 120px;
    }
    
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.75rem;
    }
}