
/* Reset e configurações básicas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Variáveis CSS */
:root {
    --cor-laranja: #ED5C2C;
    --cor-preta: #000000;
}

.logo {
    max-width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

/* Estilos para navegação */
.nav-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid #ddd;
    flex-wrap: nowrap;
}

.nav-button .nav-link {
    color: #888;
    font-size: 0.9rem;
    
    &:hover {
        color: var(--cor-laranja);
    }
}

footer {
    margin-top: 60px;
    height: 60px;
    width: 100%;
}


/* Responsividade */
@media (max-width: 768px) {
    .logo {
        max-width: 120px;
    }
    
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.75rem;
    }
}